# ========== BASE SETTINGS ==========
ALLOWED_HOSTS=https://wasel-water.com,https://www.wasel-water.com

# ========== DEBUG ==========
DEBUG=True


# ========== SECRET KEY ==========
SECRET_KEY='django-insecure-4d1l_xba2c1m@%#lfyebh9)4(06w%vkj(zr3u9+5=3@wbw(y$6'


# ========== CORS ==========
CORS_ALLOWED_ORIGINS=https://wasel-water.com,https://www.wasel-water.com

# ========== CSRF ==========
CSRF_TRUSTED_ORIGINS=https://wasel-water.com,https://www.wasel-water.com


# ========== DATABASE ==========
DB_ENGINE='django.db.backends.postgresql'
DB_NAME ='wasel-water-db'
DB_USER ='admin'
DB_PASSWORD ='Aa654321'
DB_HOST ='localhost'
DB_PORT ='5432'