{% extends "base.html" %}
{% load static %}

{% block title %}منتجات {{ brand.name }} - {{ company.name|default:"واصل ووتر" }}{% endblock %}

{% block content %}
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{{ brand.name }}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">الرئيسية</a></li>
            <li><a href="{% url 'home' %}#brands">الماركات</a></li>
            <li class="current">{{ brand.name }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    {% include "products/product_list.html" %}

{% endblock %}
